#root {
  /* max-width: 1280px; */
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.navbar-logo {
  display: flex;
  float: right;  
  align-items: center;
}

.navbar-fal {
  height: 2.5rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  float: right;
  justify-content: space-evenly;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}


.filter-nav{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: var(--color-navbackground);
}

.bg-logo-nav{
  background-color: white;
  display: flex;
  float: right;  
  padding: 0.5rem;
  border-radius: 20px;
}

.bg-logo-nav-child{
  margin-right: 1rem;
  margin-left: 1rem;
}

.box {
  box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
  padding: 1.25rem;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
  background: transparent;
  overflow-y:scroll;
  transition: all 0.5s ease-in-out;
}

.box2 {
  box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
  padding: 0;
  position: fixed;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  background: transparent;
  overflow-y:scroll;
  transition: all 0.5s ease-in-out;
  transition-delay: 600ms;
}

.box-fix {
  position: fixed;
  overflow: scroll;
  top: 10rem;
  left: 3.5rem;
  bottom: 2rem;
  right: 2rem;
}

.scroll-off {
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.scroll-off::-webkit-scrollbar {
  display: none;
}

.box::-webkit-scrollbar {
  display: none;
}

.right-img:before {
  content: '' ;
  display:block;
  float: right;
  height: 200px;
  
}

.img-info{
  position: absolute; 
  top: 0;
  right: 0;
  height: 100%;
  width: 25vw;
  background-image: url("/avatar2.png");
  background-position: center;
  background-size: cover;
  z-index: -10;
  border-top-left-radius: 50px;
}

.secondary-font{
  font-family: Montserrat, sans-serif;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.img-info-child {
  /* position: absolute; */
  right: 16vw;
  top: 55%;
  height: 35vh;
  width: 28vw;
  background-color: #f8eee082;
  border: double #487777 10px;
}

.main-color{
  background-color:	var(--color-primary);
  border-color: var(--color-primary);
}

.site {
  background-color: transparent;
  color:var(--color-primary);
  border-style:dashed;
  border-color: var(--color-primary);
  margin-left: 0.5rem;
}

.resume{
  margin-right: 0.5rem;
}

.resume:hover{
  background-color: var(--color-primary);
  border: solid var(--color-primary); 
}

.offset {
  margin-top: 1rem;
  box-shadow: 0.25em 0.25em 0 0 var(--color), inset 0.25em 0.25em 0 0 var(--color);
}
.offset:hover {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.offset {
  background-color: transparent;
  color: var(--color-navbarchild);
  border: none;
  --color: #c29a81;
  --hover: #487777;
}

.center-dis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-dis-al {
  display: flex;
  align-items: center;
}

.center-alig {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  align-items: baseline;
}

.icon-system {
  height: 22px;
  width: 22px;
}


.carousel-indicators [data-bs-target] {
  background-color: #313131;
}

.pointed {
  cursor: pointer;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

.show-ef {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(139, 167, 32, 0) 0%, rgb(74, 74, 74) 100%);
  height: 4rem;
  text-align: center;
  align-content: center;
  color: whitesmoke;
  font-weight: 900;
  text-shadow: 0px 2px 5px #404040;
  cursor: pointer;
}

.type-pro-text{
  font-size: 3vh;
  margin-bottom: 0;
}

.img-home{
  position: absolute;
  height: 90%;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.position-front{
  background-color: black;
  position: absolute;
  height: 100%;
  width: 50%;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.main-text-box {
  font-size: 18px;
  max-width: 50rem;
  margin-right: 5rem;
  margin-left: 5rem;
  text-align: center;
}

.main-font {
  font-family: 'Roboto Mono', monospace;
}

.main-color-text {
  color: var(--color-primary);
}

.main-nav .navbar-child{
  color: var(--color-navbarchild);
}

.dark-logo{
  filter: var(--dark-logo);
}

.border-spe {
  border: double var(--color-text-work);
}

.main-nav .navbar-child:hover {
  font-weight: 900;
  color: var(--color-primary);
  cursor: pointer;
}

.main-nav .navbar-child.is-active {
  font-weight: 900;
  text-decoration: line-through;
}

.hidden {
  display:none !important;
}

.special-hello{
  font-family: 'Valneck', sans-serif;
  font-size: 5vh;
  margin-bottom: 0;
  color: var(--color-specialhello);
  text-align: center;
}

.stage_inner__centerbox{
  transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
  max-width: 29vw;
  font-size: 2vh;
  position: absolute;
  text-align: center;
  left: calc(50% - 14.5vw);
  bottom: 40%;
}

.stage_inner__centerbox2 {
  transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
  font-size: 1.6vh;
  max-width: 16vw;
  position: absolute;
  text-align: center;
  bottom: 7%;
  left: 3%;
}

.stage_inner__sidebox {
  transition: all 0.6s cubic-bezier(0.5, 0.005, 0.075, 0.985);
  opacity: 0;
  position: absolute;
  top: 18%;
  right: -100vw;
  cursor: none;
}

.navbut-col path{
  stroke: var(--color-navbut);
}

.home-rdc {
  color: var(--color-homerdc);
}

.text-home-decor {
  font-size: 7vw;
  font-style: italic;
  font-weight: 900;
  font-weight: 800;
  line-height: 1em;
  font-family:'Times New Roman', Times, serif;
}

.stage_inner__sidebox2 {
  transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
  position: absolute;
  top: 18%;
  right: 20%;
  font-style: italic;
  font-weight: 800;
  line-height: 1em;
  font-family:'Times New Roman', Times, serif;
  color:#93694f;
  opacity: 1;
  font-size: 7vw;
  text-transform: capitalize;
}

.text-spe {
  font-weight: 800;
  line-height: 1em;
  font-size: 7vw;
  font-family:'Times New Roman', Times, serif;
  color:#93694f;
  text-transform: capitalize;
  margin-left: 5rem;
}

.text-spe p:hover {
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
}

.img-back {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -100000;
}

.filter-night{
  background-color: var(--bg-filtercontact);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;  
  z-index: -99999;
}

.show-img-ct-light{
  display: var(--img-show-light);
}

.show-img-ct-dark{
  display: var(--img-show-dark);
}

.img-home-tree{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
  z-index: -101;
  opacity: 0.5;
}

.text-info-detail{
  font-size: 13px;
  text-align: justify;
}

.project-main-section{
  display: flex;
  position: fixed;
  top: 10rem;
  left: 3.5rem;
  bottom: 2rem;
  right: 2rem;
}

.project-site{
  padding: 2rem;
  opacity: 0;
  /* width: 100%; */
  height: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 150px;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}

.project-site-mysite{
  background-color: #487777;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  background-image: url("/public/mysite.jpg");;
  opacity: 1;
  transition: opacity 1s;
}

.project-site-vick{
  background-color: #FF9500;
  background-image: url("/public/vick.jpg");;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  opacity: 1;
  transition: opacity 1s;
}

.project-site-hdcap{
  background-color: #be1128;
  background-image: url("/public/hdcap.jpg");;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  opacity: 1;
  transition: opacity 1s;
}

.text_cont {
  position: absolute;
  bottom: 12vh;
  max-width: 15vw;
  font-size: 13px;
}

.pro-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pro-img img {
  height: 40vh;
}

.pro-title {
  padding-top: 3vh;
  align-items: center;
  font-size: 7vh;
  font-family: 'Valneck', sans-serif;
}

.work-ct {
  text-align: justify;
  max-width: 25vw;
  font-size: 1.5vh;
  display: flex; 
  align-items: flex-end; 
  float: left; 
  height: 70vh; 
  padding-left: 8vh;
}

.work-ct-child {
  border-left: solid;
  padding-left: 1rem;
}


.pro-name {
  margin-bottom: 0;
  margin-top: 4vh;
  font-size: 6vw;
  line-height: 3.5vw;
  font-style: italic;
  cursor: pointer;
  color: var(--color-navbarchild);
}

.line-pro {
  border-top: solid var(--color-navbarchild) 1px;
  width: 90%;
  transition: all 0.2s ease-out;
}

.line-pro2 {
  border-top: solid var(--color-navbarchild) 1px;
  width: 45%;
  transition: all 0.2s ease-in;
}

.line-text {
  font-size: 15px;
  font-style: italic;
  font-family: cursive;
  position: relative;
  left: 105%;
  bottom: 11px;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.line-text2 {
  font-style: italic;
  font-size: 15px;
  color: #313131;
  font-family: cursive;
  position: relative;
  left: 105%;
  bottom: 11px;
  opacity: 1;
  transition: all 0.2s ease-in;
}

.pro-back-site {
  border-top-right-radius: 50px;
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: -10;
  height: calc(100% - 8rem);
  width: 50%;
  overflow-x: hidden;
  transition: all 0.3s linear;
  background-image: url("/public/pro-img.gif");
  background-size: cover;
  z-index: 12;
}

#pro_section_content_child .title-pro-detail {
  padding-top: 1rem;
  font-size: 40px;
  text-align: center;
  max-width: 10rem;
  max-height: 5rem;
  padding-bottom: 1rem;
}

#pro_section_content_child .url {
  font-size: 20px;
  text-align: center;
  width: max-content;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-style: italic;
}

#pro_section_content_child .description {
  padding: 1rem;
  text-align: justify;
  font-size: 15px;
  font-family: 'Droid Serif', serif;
}

.bg-pro-1 {
  transition: all 0.3s linear;
  background-image: url(/public/slide-vick.png);
}

.bg-pro-2 {
  transition: all 0.3s linear;
  background-image: url(/public/slide-hd.png);
}

.bg-pro-3 {
  transition: all 0.3s linear;
  background-image: url(/public/slide-aladin.png);
}

.bg-pro-4 {
  transition: all 0.3s linear;
  background-image: url(/public/slide-site.png);
}


.form-style {
  background: #48777746;
  padding: 1rem;
  border-radius: 20px;
  color: white;
  max-width: 35vw;
  margin: auto;
}

.form-style .form-child {
  background-color: #faf5e9;
}

.info-contact-icon a{
  padding-right: 0.7rem;
}

.button-send-mail{
  background-color: var(--color-primary); 
  border: 0px;
  width: max-content;
  padding: 0.5rem;
  float: right;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0;
}

.empty {
  border: solid red;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.link-atp {
  font-size: '15px'; 
  color: #6e6d6d;
}

.return-arrow {
  float: right;
  margin-right: 2.5rem;
  margin-top: 2rem;
}

.work-bg{
  height: 65vh;
  margin-top: 23vh;
  margin-bottom: 12.5vh;
  position: relative;
}

.work-bg-child {
  background-size: cover;
  height: 65vh;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.change-ft {
  font-family: 'Gill Sans';
  font-weight: 600;
  line-height: 1px;
}

.text-cp {
  font-size: 5vw;
  letter-spacing: -2px;
  width: max-content;
  -webkit-text-stroke: 2px var(--color-mode);
  color: transparent;
  font-weight: 900;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.next-pro-work {
  height: 80vh;
  text-align: right;
  align-content: center;
  padding-right: 3vw;
}

.previous-pro-work {
  height: 80vh;
  text-align: left;
  align-content: center;
  padding-left: 3vw;
}

.full-img {
  width: 100%;
  height: 100%;
}

.work-bg-chick {
  position: relative;
  height: 30vmin;
  top: calc(100% - 34vmin);
  left: calc(100% - 30vmin);
}

.logo-work{
  position: relative;
  top: calc(-65vh + 7.5vw);
  height: 15vw;
  width: max-content;
  left: 5rem;
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}

.text-work {
  position: relative;
  top: calc(-65vh + 35vmin);
  width: max-content;
  left: 5rem;
  font-size: 15vmin;
  line-height: 15vmin;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  -webkit-text-stroke: 7px var(--color-text-work);
  text-shadow: var(--color-text-shadow);
  color: transparent;
}

.work-detail {
  font-size: 12px;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}

.work-ct-detail {
  font-size: 12px;
  margin-bottom: 1.5rem;
  margin-right: 2.5rem;
  float: right;
}

.color-by-mode {
  color: var(--color-mode);
}

@media only screen and (max-width: 600px) {
  .box {
    background-color:	#f8eee0;
    box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
    padding: 1.25rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    background: transparent;
    overflow:scroll;
  }

  .mobile-hidden{
    display: none;
  }

  .stage_inner__centerbox{
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    max-width: 55vw;
    font-size: 12px;
    position: absolute;
    text-align: center;
    left: calc(50% - 27.5vw);
    bottom: 40%;
  }

  .stage_inner__centerbox2 {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    font-size: 1.2vh;
    max-width: 58vw;
    position: absolute;
    text-align: center;
    bottom: 7%;
    left: calc(50% - 27.5vw);
  }

  .stage_inner__sidebox2 {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    position: absolute;
    top: 25%;
    right: 10%;
    line-height: 1em;
    font-family:'Times New Roman', Times, serif;
    color:#93694f;
    opacity: 1;
    text-transform: capitalize;
  }

  .special-hello{
    font-family: 'Valneck', sans-serif;
    font-size: 5vw;
    margin-bottom: 0;
    color: var(--color-specialhello);
    text-align: center;
  }


  .text-home-decor {
    font-size: 12vw;
    font-style: italic;
    font-weight: 900;
    font-weight: 800;
    line-height: 1em;
    font-family:'Times New Roman', Times, serif;
  }

  .img-info {
    position: absolute;
    top: 8rem;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url(/avatar2.png);
    background-position: center;
    background-size: cover;
    z-index: -10;
    border-top-left-radius: 50px;
  }

  .box-fix {
    position: static;
    margin-top: 2rem;
  }

  .type-mobile{
    height: 10rem;
  }

  .img-info-child {
    /* position: absolute; */
    right: 16vw;
    top: 55%;
    height: 26vh;
    width: 100%;
    background-color: #f8eee082;
    border: double #487777 10px;
  }

  .main-color-text {
    height: max-content;
  }

  .title {
    color: whitesmoke;
    text-shadow: 1px 1px 4px #0a0a0a;
  }

  .text-info-detail{
    color: whitesmoke;
    text-shadow: 0px 1px 4px #0a0a0a;
  }

  .link-atp {
    font-size: '15px'; 
    color: #dad7d7;
  }

  .pro-title{
    padding-top: 0;
    align-items: center;
    font-size: 10vh;
    font-family: 'Valneck', sans-serif;
    height: max-content;
  }

  .pro-back-site {
    position: relative;
    top: 0 ;
    width: 100%;
    overflow-x: hidden;
    transition: all 0.3s linear;
    background-size: cover;
    z-index: 12;
  }

  .bg-border-50 {
    border-radius: 50px !important;
  }

  .bg-mobile{
    height: 20rem !important;
  }

  .center-alig{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: baseline;
  }

  .line-pro {
    border-top: solid var(--color-navbarchild) 1px;
    width: 100%;
    transition: all 0.2s ease-out;
  }

  .form-style {
    background: #48777746;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    max-width: 100%;
    margin: auto;
  }

  .work-ct {
    text-align: justify;
    max-width: max-content;
    font-size: 1.5vh;
    display: flex;
    align-items: flex-end;
    float: left;
    height: max-content;
    padding-left: 0;
    margin: 2rem 0;
  }

  .pro-name {
    margin-bottom: 0;
    margin-top: 2vh;
    font-size: 10vw;
    line-height: 3.5vw;
    font-style: italic;
    cursor: pointer;
  }

  .logo-work{
    position: relative;
    top: calc(-65vh);
    height: 23vw;
    width: max-content;
    left: 2rem;
  }

  .text-work {
    top: calc(-65vh + 35vmin);
    width: max-content;
    left: 1rem;
    font-size: 12.5vmin;
    line-height: 15vmin;
    font-weight: 900;
    -webkit-text-stroke: 3.5px var(--color-text-work);
  } 

  .previous-pro-work {
    height: 40vh;
    text-align: left;
    align-content: end;
    padding-left: 3vw;
    padding-bottom: 2rem;
  }

  .next-pro-work {
    height: 40vh;
    text-align: right;
    align-content: start;
    padding-right: 3vw;
    padding-bottom: 2rem;
  }

  .text-cp {
    font-size: 15vw;
    letter-spacing: -2px;
    width: inherit;
    white-space: normal;
    -webkit-text-stroke: 2px var(--color-mode);
    color: transparent;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .work-detail {
    font-size: 10px;
    margin-bottom: 0.75rem;
    margin-left: 0.75rem;
  }

  .work-ct-detail {
    font-size: 10px;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
  }

  .return-arrow {
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .font-mobile {
    font-size: 15px;
  }

  .margin-t-1-mobile {
    margin-top: 1rem;
  }

  .margin-bt-0-mobile {
    margin-bottom: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tablets-hidden{
    display: none;
  }

  .stage_inner__centerbox{
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    max-width: 35vw;
    font-size: 1.5vh;
    position: absolute;
    text-align: center;
    left: calc(50% - 14.5vw);
    bottom: 40%;
  }
  
  .stage_inner__centerbox2 {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    max-width: 35vw;
    font-size: 1.5vh;
    position: absolute;
    text-align: center;
    bottom: 7%;
    left: calc(50% - 14.5vw);
  }

  .work-ct {
    text-align: justify;
    max-width: max-content;
    font-size: 1.2vh;
    float: left; 
    height: 70vh; 
    padding-left: 0vh;
  }

  .pro-name {
    margin-bottom: 0;
    margin-top: 3vh;
    font-size: 6vw;
    line-height: 4vw;
    font-style: italic;
    cursor: pointer;
  }

  .type-pro-text {
    font-size: 20px;
  }

  .special-hello{
    font-size: 4vw;
    margin-bottom: 0;
    color: var(--color-specialhello);
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


